.container{
    margin-top: 3%;
    margin-bottom: 5%;
}

.mod{
    margin: 2%;
    padding: 2%;
    background-color: #eaeaea;
    border:1px solid #f0f0f0;
}

.mod:hover{
    background-color: #cdc9c9;
    margin-left: 4%;
    margin-right: 0%;
    transition-duration: 0.2s;
    opacity: 0.9%;
}

.label{
    margin-left: 5px;
}

h3>.label{
    margin-right: 8px;
}
