# build output
**/bin
**/obj
**/libs
**/lib

# editors
**/*.xproj
**/*.xproj.user
**/.vs
**/.vscode
**/*.error
.idea/

# output

TestResults
TestLogs
.DS_Store
**/*.DotSettings.user

tools/cfr-0.150.jar
