aiocfscrape==0.0.9
aiohttp==3.6.2
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
colorama==0.4.3
dateparser==0.7.2
humanize==0.5.1
idna==2.8
isort==4.3.21
Js2Py==0.59
lazy-object-proxy==1.4.3
maya==0.6.1
mccabe==0.6.1
multidict==4.7.4
orjson==2.1.4
pendulum==2.0.5
pony==0.7.11
psycopg2==2.8.4
pyjsparser==2.7.1
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
pytzdata==2019.3
regex==2020.1.8
six==1.14.0
snaptime==0.2.4
tzlocal==2.0.0
wrapt==1.11.2
yarl==1.4.2
