name: Packer
# cloned from main branch, merely edited
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: 
      - 'config/packer.json'
      - 'projects/**'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 20
          ref: main

      - name: Check changed path on 1.12
        uses: MarceloPrado/has-changed-path@v1.0
        id: changed-1122
        with:
          paths: projects/1.12.2

      - name: Check changed path on 1.16
        uses: MarceloPrado/has-changed-path@v1.0
        id: changed-116
        with:
          paths: projects/1.16
      
      - name: Check changed path on 1.16 fabric
        uses: MarceloPrado/has-changed-path@v1.0
        id: changed-116-fabric
        with:
          paths: projects/1.16-fabric

      - name: Check changed path on 1.18
        uses: MarceloPrado/has-changed-path@v1.0
        id: changed-118
        with:
          paths: projects/1.18

      - name: Check changed path on 1.18 fabric
        uses: MarceloPrado/has-changed-path@v1.0
        id: changed-118-fabric
        with:
          paths: projects/1.18-fabric

      - name: Build Packer
        run: dotnet publish .\src\Packer\Packer.csproj -o ./ -r win-x64 -p:PublishSingleFile=true

      - name: Run Packer
        run: ./Packer --version="1.12.2"
        if: steps.changed-1122.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Run Packer
        run: ./Packer --version="1.16"
        if: steps.changed-116.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Run Packer
        run: ./Packer --version="1.16-fabric"
        if: steps.changed-116-fabric.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Run Packer
        run: ./Packer --version="1.18"
        if: steps.changed-118.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'
        
      - name: Run Packer
        run: ./Packer --version="1.18-fabric"
        if: steps.changed-118-fabric.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Create timestamp
        id: create_timestamp
        run: echo "::set-output name=timestamp::$(date '+%Y%m%d%H%M%s')"
        shell: bash

      # Create the release: https://github.com/actions/create-release
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: Snapshot-${{ steps.create_timestamp.outputs.timestamp }}
          release_name: 汉化资源包-Snapshot-${{ steps.create_timestamp.outputs.timestamp }}
          draft: false
          prerelease: false

      # Upload release asset: https://github.com/actions/upload-release-asset
      - name: Update release asset
        id: upload-release-asset1
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Minecraft-Mod-Language-Package-1.12.2.zip
          asset_name: Minecraft-Mod-Language-Package-1.12.2.zip
          asset_content_type: application/zip
        if: steps.changed-1122.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Update release asset
        id: upload-release-asset2
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Minecraft-Mod-Language-Package-1.16.zip
          asset_name: Minecraft-Mod-Language-Package-1.16.zip
          asset_content_type: application/zip
        if: steps.changed-116.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

        
      - name: Update release asset
        id: upload-release-asset3
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Minecraft-Mod-Language-Package-1.16-fabric.zip
          asset_name: Minecraft-Mod-Language-Package-1.16-fabric.zip
          asset_content_type: application/zip
        if: steps.changed-116-fabric.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Update release asset
        id: upload-release-asset4
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Minecraft-Mod-Language-Package-1.18.zip
          asset_name: Minecraft-Mod-Language-Package-1.18.zip
          asset_content_type: application/zip
        if: steps.changed-118.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Update release asset
        id: upload-release-asset5
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Minecraft-Mod-Language-Package-1.18-fabric.zip
          asset_name: Minecraft-Mod-Language-Package-1.18-fabric.zip
          asset_content_type: application/zip
        if: steps.changed-118-fabric.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      # Doesn't do so now because it messes up the server
      - name: Build Uploader
        run: dotnet publish .\src\Uploader\Uploader.csproj -o ./ -r win-x64 -p:PublishSingeFile=true

      - name: Run Uploader
        run: .\Uploader --version="1.12.2" --host="${{ secrets.SSH_IP }}" --name="${{ secrets.SSH_USER }}" --password="${{ secrets.SSH_PWD }}"
        if: steps.changed-1122.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Run Uploader
        run: .\Uploader --version="1.16" --host="${{ secrets.SSH_IP }}" --name="${{ secrets.SSH_USER }}" --password="${{ secrets.SSH_PWD }}"
        if: steps.changed-116.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Run Uploader
        run: .\Uploader --version="1.16-fabric" --host="${{ secrets.SSH_IP }}" --name="${{ secrets.SSH_USER }}" --password="${{ secrets.SSH_PWD }}"
        if: steps.changed-116-fabric.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Run Uploader
        run: .\Uploader --version="1.18" --host="${{ secrets.SSH_IP }}" --name="${{ secrets.SSH_USER }}" --password="${{ secrets.SSH_PWD }}"
        if: steps.changed-118.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'

      - name: Run Uploader
        run: .\Uploader --version="1.18-fabric" --host="${{ secrets.SSH_IP }}" --name="${{ secrets.SSH_USER }}" --password="${{ secrets.SSH_PWD }}"
        if: steps.changed-118-fabric.outputs.changed == 'true' ||  github.event_name == 'workflow_dispatch'
